<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.directwebremoting.org/schema/spring-dwr 
	http://www.directwebremoting.org/schema/spring-dwr-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<dwr:configuration>
		<dwr:convert type="bean" class="com.kaf.example.bean.User" />
		<dwr:convert type="bean" class="com.kaf.example.bean.Role" />
		<dwr:convert type="bean" class="com.kaf.example.bean.Product" />
		<dwr:convert type="bean" class="com.kaf.example.bean.Unit" />
	</dwr:configuration>
	
	<context:annotation-config />

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
		lazy-init="false">
		<property name="annotatedClasses">
			<list>
				<value>com.kaf.example.bean.User</value>
				<value>com.kaf.example.bean.Role</value>
				<value>com.kaf.example.bean.Product</value>
				<value>com.kaf.example.bean.Unit</value>
			</list>
		</property>
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/testHibernate" />
	</bean>

	<bean id="daoHelper" class="com.kaf.hibernate.dao.DaoHelper">
	</bean>

	<!-- USER -->
	<bean id="user" class="com.kaf.example.bean.User">
	</bean>

	<bean id="userDao" class="com.kaf.example.dao.UserDao">
	</bean>
	
	<bean id="userService" class="com.kaf.example.service.UserService">
		<dwr:remote javascript="UserService">
		</dwr:remote>
	</bean>
	
	<!-- ROLE -->
	<bean id="role" class="com.kaf.example.bean.Role">
	</bean>
	
	<bean id="roleDao" class="com.kaf.example.dao.RoleDao">
	</bean>
	
	<bean id="roleService" class="com.kaf.example.service.RoleService">
		<dwr:remote javascript="RoleService">
		</dwr:remote>
	</bean>
	
	<!-- PRODUCT -->
	<bean id="product" class="com.kaf.example.bean.Product">
	</bean>

	<bean id="productDao" class="com.kaf.example.dao.ProductDao">
	</bean>
	
	<bean id="productService" class="com.kaf.example.service.ProductService">
		<dwr:remote javascript="ProductService">
		</dwr:remote>
	</bean>

</beans>